In [1]:
import module_test

   a
0  1
1  2
End
Type: Nissan
Price: 100

In [2]:
module_test.printHello()

Hellow World

In [3]:
module_test.x

   a
0  1
1  2

In [4]:
module_test.nissan.cartype

'Nissan'

In [5]:
module_test.nissan.printInfo()

Type: Nissan
Price: 100

In [13]:
nissan = module_test.Carclass('Nissan', 100)